@model App.Areas.Admin.Controllers.BannerController.UploadFile
@{
    ViewData["Title"] = "Upload Banner";
    Layout = "Admin/_AdminLayout";
}


<div class="container">
    <h1>Upload Avatar</h1>
    <form method="post" enctype="multipart/form-data" class="mt-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="@Model.FileUp" class="control-label"></label>
            <input type="file" asp-for="@Model.FileUp" class="form-control-file" />
            <span asp-validation-for="FileUp" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Text" class="control-label"></label>
            <input asp-for="@Model.Text" class="form-control" />
            <span asp-validation-for="@Model.Text" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-success">Upload Image</button>
        <a class="nav-link btn btn-primary" asp-action="IndexBanner" asp-controller="ManageBanner">Back</a>
    </form>
</div>

